<div class="page-header"><h1>{{name}}</h1></div>
<div class="btn-grp">
  {{#linkTo "recipes.edit" this class="btn"}}Edytuj{{/linkTo}}
</div>
<h2>Opis:</h2>
<p>{{description}}</p>
<h2>Składniki:</h2>
<ul>
  {{#each ingredients}}
  <li>{{render "ingredient.show" this}}</li>
  {{/each}}
</ul>
<h2>Instrukcje:</h2>
<ul>
  {{#each steps}}
  <li>{{this}}</li>
  {{/each}}
</ul>
