<h1>{{name}}</h1>
<h2>Opis:</h2>
<p>{{description}}</p>
<h2>Instrukcje:</h2>
<ul>
  {{#each steps}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<h2>Składniki:</h2>
<ul>
  {{#each ingredients}}
  <li>{{render "ingredient" this}}</li>
  {{/each}}
</ul>
